<nav class="navbar navbar-expand bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/logo.png" alt="intBASIS" width="24" height="24">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        Introduction
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/present-value">
                        Present Value
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/annuity">
                        Annuity
                    </NavLink>
                </li>
            </ul>
            <span class="navbar-text d-none d-lg-block">
                <em>A bird in the hand is worth two in the bush.</em>
            </span>
        </div>
    </div>
</nav>
