<label for="rangeSlider" class="text-muted" style="font-size: 0.85em">
    @Label
</label>
<div>
    <div class="text-center" style="font-size: 0.7em">
        @ValueString
    </div>
    <input type="range" class="form-range" id="rangeSlider" value="@Value"
           min="@Min" max="@Max" step="@Step"
           @oninput="HandleValueChange">
</div>

@code {
    [Parameter]
    public string? Label { get; set; }

    [Parameter]
    public double Value { get; set; }

    [Parameter]
    public double Min { get; set; } = 0;

    [Parameter]
    public double Max { get; set; } = 0.50;

    [Parameter]
    public double Step { get; set; } = 0.001;

    [Parameter]
    public EventCallback<double> ValueChanged { get; set; }

    private string ValueString => Value.ToString("P1");

    private async Task HandleValueChange(ChangeEventArgs e)
    {
        Value = Parsing.ToDouble(e.Value);
        await ValueChanged.InvokeAsync(Value);
    }
}
