@page "/"
@using Unplugged.SecurityAnalysis.Valuation

<PageTitle>
    Discounted.Cash
</PageTitle>

Future cash flow: <input type="number" @bind="futureCashFlow">
<br>
Periods: <input type="number" @bind="periods">
<br>
Discount Rate: <input type="number" step="0.01" @bind="discountRate">
<br>

<button class="btn btn-primary" @onclick="GetPresentValue">
    Calculate Present Value
</button>
<br>

Present Value: @presentValue.ToString("N2")


@code
{
    private double presentValue;
    private double futureCashFlow = 10_000;
    private double periods = 10;
    private double discountRate = 0.05;

    private void GetPresentValue()
    {
        presentValue = SimpleCashFlowDiscounting.PresentValue(futureCashFlow, periods, discountRate);
    }
}