@page "/"
@using static Parsing;
@using static Compounding;

<PageTitle>
    Discounted.Cash: Introduction
</PageTitle>


<p class="lead">
    <em>A bird in the hand is worth two in the bush.</em>
</p>

<p class="small">
    Learn more about the
    <a href="https://en.wikipedia.org/wiki/Time_value_of_money">
        Time Value of Money
    </a>
</p>

What is investing?


How much?


Which investment?
