@page "/"
@using Unplugged.SecurityAnalysis.Valuation

<PageTitle>
    Discounted.Cash
</PageTitle>

<form @onsubmit="GetPresentValue" class="row">
    <div class="col-auto">
        <div class="form-floating mb-3">
            <input type="number" class="form-control" id="futureCashFlow" @bind="futureCashFlow">
            <label for="futureCashFlow">Future Cash Flow</label>
        </div>
    </div>
    <div class="col-auto">
        <div class="form-floating mb-3">
            <input type="number" class="form-control" id="periods" @bind="periods">
            <label for="periods">Number of Periods</label>
        </div>
    </div>
    <div class="col-auto">
        <div class="form-floating mb-3">
            <input type="number" step="0.01" class="form-control" id="discountRate" @bind="discountRate">
            <label for="discountRate">Discount Rate</label>
        </div>
    </div>
    <div class="col-auto">
        <button class="btn btn-primary btn-lg mb-3" @onclick="GetPresentValue">
            Calculate Present Value
        </button>
    </div>
    <div class="col-auto">
        <div class="form-floating mb-3">
            <input class="form-control" id="presentValue" value="@presentValue.ToString("N2")" readonly>
            <label for="presentValue">Present Value</label>
        </div>
    </div>
</form>


@code
{
    private double presentValue;
    private double futureCashFlow = 10_000;
    private double periods = 10;
    private double discountRate = 0.05;

    private void GetPresentValue()
    {
        presentValue = SimpleCashFlowDiscounting.PresentValue(futureCashFlow, periods, discountRate);
    }
}