@page "/"
@using Unplugged.SecurityAnalysis.Valuation

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

Future cash flow: @futureCashFlow
<br>
Periods: @periods
<br>
Discount Rate: @discountRate
<br>

<button class="btn btn-primary" @onclick="GetPresentValue">
    Calculate Present Value
</button>
<br>

Present Value: @presentValue


@code
{
    private double presentValue;
    private double futureCashFlow = 10_000;
    private double periods = 10;
    private double discountRate = 0.05;

    private void GetPresentValue()
    {
        presentValue = SimpleCashFlowDiscounting.PresentValue(futureCashFlow, periods, discountRate);
    }
}