@page "/"
@using static Parsing;
@using static Compounding;

<PageTitle>
    Discounted.Cash: Introduction
</PageTitle>


@*
    <p class="lead">
    <em>A bird in the hand is worth two in the bush.</em>
</p>
*@
<div class="alert alert-secondary me-5">
    What is investing?
</div>
<div class="alert alert-primary ms-5">
    <span class="fw-bold">
        Investing
    </span>
    is
    giving some money
    now
    to get more money
    later.
</div>

@*
What is an investment?

An investment is
a property that "promises" to be worth more money later.

How much will the investment be worth later?

The question is very important.
It must be answered.
But the answer depends on the investment.
Some investments have an easy answer.


Which investment to choose?
*@


<div class="alert alert-secondary me-5">
    How much should I pay for an investment?
</div>
<div class="alert alert-primary ms-5">
    <span class="fw-bold">
        Present Value
    </span>
    is the fair price for an investment that will pay back a known value after a known time.
</div>


<div class="alert alert-secondary me-5">
    How do I find the Present Value?
</div>

<a class="btn btn-primary btn-lg ms-5" href="/present-value">
    You can do it! Try the it on the next page!
    <span class="ms-1">
        &raquo;
    </span>
</a>
