@page "/present-value"
@using static Parsing;
@using static Compounding;

<PageTitle>
    Discounted.Cash: Present Value
</PageTitle>

<div class="row">
    <div class="col-12 col-md-3">
        <div class="form-floating mb-3">
            <input type="number" class="form-control" id="futureCashFlow" value="@futureCashFlow"
                   @oninput="ChangeFutureCashFlow">
            <label for="futureCashFlow">Future Cash Flow</label>
        </div>
    </div>
    <div class="col-12 col-md-3">
        <div class="form-floating mb-3">
            <input type="number" class="form-control" id="periods" value="@periods"
                   @oninput="ChangePeriods">
            <label for="periods">Number of Periods</label>
        </div>
    </div>
    <div class="col-12 col-md-3">
        <PercentRangeSlider Label="Discount Rate" @bind-Value="@discountRate" />
    </div>
    <div class="col-12 col-md-3">
        <div class="form-floating mb-3">
            <input class="form-control" id="presentValue" value="@PresentValueString" readonly>
            <label for="presentValue">Present Value</label>
        </div>
    </div>
</div>

@code
{
    private double futureCashFlow = 10_000;
    private double periods = 10;
    private double discountRate = 0.05;

    private double PresentValue => Discount(futureCashFlow, periods, discountRate);
    private string PresentValueString => PresentValue.ToString("C2");

    private void ChangeFutureCashFlow(ChangeEventArgs e)
    {
        futureCashFlow = ToDouble(e.Value);
    }

    private void ChangePeriods(ChangeEventArgs e)
    {
        periods = ToDouble(e.Value);
    }
}
