@inherits LayoutComponentBase

<Navbar />
<div class="container mt-3">
    @Body

    <div class="alert alert-primary mt-4" role="alert">
        Send me feedback
        <a href="https://twitter.com/JacobInvesting">@@JacobInvesting</a>
    </div>
</div>

