@inherits LayoutComponentBase

<Navbar />

<div class="container mt-3 mb-3">
    @Body
</div>

<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link" href="https://twitter.com/JacobInvesting">Send Feedback @@JacobInvesting</a>
    </li>
</ul>
